/* Wand Project - Ethernet Over UDP
 * $Id: ethertap_cfg.h.sample,v 1.1 2001/10/23 09:23:48 gsharp Exp $
 * Licensed under the GPL, see file COPYING in the top level for more
 * details.
 *
 * <wuz> do NOT check in ethertap_cfg.h directly. play with
 *       ethertap_cfg.h.sample and check THAT in!
 */
        
#ifndef ETHERTAP_CFG_H
#define ETHERTAP_CFG_H
            
#define MAX_ETHERTAP_DEVICES 16
#define FCS 2

/* Default to /dev/tap0 */
/* <wuz> This doesn't work for me, I use /dev/tap3 */
#define FIRST_TAP_NUMBER 0
//#define FIRST_TAP_NUMBER 3

#endif /* ETHERTAP_CFG_H */
